<div class='table-responsive widthSizeTable'>
    <table class="table team">
        <thead>
        <tr>
          <th colspan='3'class='topRow'>Team Status</th>
        </tr>
        <tr>
            <th class='vertAlign'>Team Name</th>
            <th class='narrowCol'>Approved by Manager</th>
            <th class='narrowCol'>Approved by Director</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let team of teams">
            <td>{{ team.name }}</td>
            <td>
                <app-status [status]="team.approvedBy.statusManager"
                            [isDisabled]="role === 'Director'"
                            (statusChanged)="handleStatusChange($event, team, 'manager')">
                </app-status>
            </td>
            <td>
                <app-status [status]="team.approvedBy.statusDirector"
                            [isDisabled]="role === 'Manager'"
                            (statusChanged)="handleStatusChange($event, team, 'director')">
                </app-status>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="form-group">
        <label>Role</label>
        <div class="form-control">
            <label class="col-md-3">
                <input type="radio" value="Manager" name='role' [(ngModel)]='role'> Manager
            </label>
            <label class="col-md-3">
                <input type="radio" value="Director" name='role'  [(ngModel)]='role'> Director
            </label>
        </div>
    </div>
</div>
    
    